<div class="state-container">
    <label class="state-label">Select state from drop down list</label>
    <select name="states" id="states" class="select-state">
        <option value="null">States</option>
        <option value="Alabama">Alabama</option>
        <option value="Arizona">Arizona</option>
        <option value="Colorado">Colorado</option>
        <option value="Georgia">Georgia</option>
        <option value="Maryland">Maryland</option>
        <option value="Ohio">Ohio</option>
        <option value="North Carolina">North Carolina</option>
        <option value="Texas">Texas</option>
        <option value="Virginia">Virginia</option>
        <option value="Okhlahoma">Okhlahoma</option>
        <option value="Texas">Texas</option>
        <option value="Virginia">Virginia</option>
    </select>

    <div class="login-button">
        <button class="button-5" role="button" (click)="sectionsPage()">Submit</button>
    </div>
</div>