<div class="sections-container">
    <label class="section-header">Select the segment to navigate</label>
    <div class="section-cards">
        <div class="cards">
            <div (click)="dashboardPage()" class="lob-card pink">Dashboard</div>
            <div class="lob-card blue">Lorem</div>
        </div>
        <div class="cards">
            <div class="lob-card peach">Lorem</div>
            <div class="lob-card gray">Ipsum</div>
        </div>
        <div class="cards">
            <div class="lob-card purple">Ipsum</div>
            <div class="lob-card green">Lorem</div>
        </div>
    </div>
</div>